<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Home :)</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque beatae minus, repellat nesciunt delectus aliquid recusandae enim! Architecto commodi adipisci, quo iusto, aperiam, obcaecati dolorem minima consectetur ut doloremque molestias!</p>
    {% endblock %}
</body>
</html>